@page
@model The_Writers_Spiral.Pages.Account.LoginModel

@{
    Layout = "_Layout";
    ViewData["Title"] = "Login";
}

<h2>@ViewData["Title"]</h2>
<p>Please log in with either your pen name or email address and your password</p>

<form method="post">
    <div class="form-group">
        <label asp-for="UserInput.Email">Email or Pen Name</label>
        <input asp-for="UserInput.Email" class="form-control" required />
        <span asp-validation-for="UserInput.Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="UserInput.Password">Password</label>
        <input type="password" asp-for="UserInput.Password" class="form-control" required />
        <span asp-validation-for="UserInput.Password" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
    <a asp-page="/Account/ForgotPassword">Forgot your pen name or password?</a>

</form>
